body {
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.comment {
  text-align: left;
}

.commentBox {
  background:url(./image/totoro.png),linear-gradient(130deg, #0fa530, #93f9c6);
  background-position:85%;
  margin-top:50px;
  margin-bottom:50px;
  color : #fff;
  padding-right:50px;
  padding-left:50px;
  padding-bottom:50px;
  border-radius: 50px;
}

.ChatBox {
  margin-top:50px;
  background-color: #fff;
  color : #fff;
  padding:50px;
  border-radius: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:1140px;
}

.App-header {
  padding-top:50px;
  padding-bottom:50px;
}

.App-header h1 {
  margin:initial;
}

.home {
  background-color:#fff; 
  background-image: url(./image/bigtotoro.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.card::before {
  content: url(./image/mainimg.png);
  position: absolute;
  right:50px;
}

.card::after {
  content: url(./image/mainimg.png);
  position: absolute;
  left:50px;
  bottom: 24px;
}

.rooter {
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-family: 'Courier New', Courier, monospace;
  margin-right:20px;
  font-size:50px;
  font-weight: bold;
  color:#0fa530;
}

.logo:hover {
  color:#93f9c6;
}